<!DOCTYPE html>
<html lang="es">  
    <head>    
        <title>Corporate Compliance</title>    
        <meta charset="UTF-8">
        <meta name="title" content="Corporate Compliance">
        <meta name="description" content="Corporate Compliance">   
    </head>  
    <body>
        <h1>Hola que tal {{ name }}</h1>
        {{ dump( session.get( 'name' ) ) }}
    </body>  
</html>